/* PC */
@media(min-width: 1024px){

}

/* Tablet */
@media(min-width:740px) and (max-width: 1023px){

}

/* Moblie */
@media (max-width: 768px) { 
    .more_samcenter {
      flex-direction: column;
    }
    
    .thong_tin{
        margin: 8px 8px;
    }

    .list_news{
        display: none;
    }
   }